<!-- map Section Begin -->
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-info">
                    <div class="ci-item">
                        <div class="ci-icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="ci-text">
                            <h5>Address</h5>
                            <p>Yamuna Vihar, New Delhi, Delhi-110053</p>
                        </div>
                    </div>
                    <div class="ci-item">
                        <div class="ci-icon">
                            <i class="fa fa-mobile"></i>
                        </div>
                        <div class="ci-text">
                            <h5>Phone</h5>
                            <ul>
                                <li>000-000-0000</li>
                                <li>000-000-0000</li>
                            </ul>
                        </div>
                    </div>
                    <div class="ci-item">
                        <div class="ci-icon">
                            <i class="fa fa-headphones"></i>
                        </div>
                        <div class="ci-text">
                            <h5>Support</h5>
                            <p>support@realestate.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cs-map">
        <iframe
            src=https://www.google.com/maps/embed/v1/place?key=AIzaSyD7e-D6F0MnYqT8alqs0R6RkEbSixyNQb8&q=Yamuna+Vihar+New+Delhi+Delhi-110053,Seattle+WA"
            height="450" style="border:0;" allowfullscreen=""></iframe>
    </div>
</section>
<!-- map Section End -->
